body {
    background-color: transparent;
	  font: 1.0em/1.0em Arial, Helvetica, sans-serif; margin: 5px auto;	color: #999;
	}
	
button, form {
    text-transform: uppercase; display: block; margin: 5px auto 0 auto; border: none; font-size: .7em; padding: 5px; border-radius: 2px; width: 80%;
    color: #111;
	}

	button:focus, input:focus { 
	background-color: lightpink; outline: none;
	}
	
	button:hover{
	background-color: lightgreen;
	}
	
	button:active { 
	background-color: #FFF006; color: #fff; 
	}    
	
.data-loader {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 15px 25px 0 25px;
    /*margin: 150 auto;*/
    margin: auto;
    cursor: default;
 
    background-color: #141517;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

.tb {
	position: relative;
    width: 500px;
    height: 200px;
    /*margin: -160 280;*/
    border-color: black;
    font-family: monospace;
    font-size: 11;
    line-height: inherit;
}

.info {
	font: 0.75em/1.0em Arial, Helvetica, sans-serif; margin: 5px auto;	color: #999;
}

#csvfile {
  color: red;
}


/*-----------------
Footer
------------------*/

.foot {

	position: relative;
    width: 200px;
    height: 100px;
    padding: 15px 25px 0 25px;
    margin: 60 auto;
    cursor: default;
 
    background-color: #141517;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);

}


.foot hr {
      display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
  color: #999;
}

/*------------------------
Social Icons
--------------------------*/

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #F1C40F;
  color: white;
}

.twitter {
  background: black;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #F1C40F;
  color: white;
}

.youtube {
  background: #E74C3C;
  color: white;
}

/*-----------------------------------
Progress Bar
-------------------------------------*/
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 20px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  color: white;
  font-weight: normal;
  font-size: 10;
  border-radius: 5px;
}

/*-------------------------
User contact interface
---------------------------*/

#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea {
  width: 100%;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}
